body,
html {
  margin: 0;
  --main-color: hsl(145, 64%, 49%);
}

.notify-description {
  background: url('assets/header-background.png');
  color: white;
}

.notify-logo {
  display: block;
}

.notify-description span {
  display: block;
}

.external-download-button {
  border-radius: 50%;
  background-color: hsla(0, 0%, 35%, 0.753);
  display: inline-block;
  padding: 0.5em;
}

.external-download-button img {
  filter: invert();
  height: 2em;
}

.external-download-button:hover {
  background-color: var(--main-color);
}