body,
html {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  --main-color: hsl(145, 64%, 49%);
  --secondary-text-color: hsl(0, 0%, 60%);
  --secondary-background-color: hsl(0, 0%, 89%);
  font-size: 0.9em;
}

h2 {
  font-weight: normal;
}

.mobile {
  display: block;
}

.no-mobile {
  display: none;
}

.notify-introduction-container {
  background: url('assets/header-background.png');
  background-size: cover;
  display: flex;
  align-items: center;
  height: 20em;
}

.notify-introduction {
  padding: 1.5em 2.5em;
  font-size: 1.3em;
}

.notify-logo {
  display: block;
  width: 8em;
}

.notify-introduction span {
  color: white;
  display: block;
  margin: 0.5em 0 1em;
}

.external-download-buttons-container {
  display: flex;
}

.external-download-button {
  border-radius: 50%;
  background-color: hsla(0, 0%, 35%, 0.753);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  opacity: 0.8;
  width: 3em;
  height: 3em;
}

.external-download-button img {
  filter: invert();
  height: 2em;
}

.external-download-button:hover {
  background-color: var(--main-color);
  opacity: 1;
}

.section {
  padding: 1em;
}

.notify-bullets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notify-bullet {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20em;
}

.notify-bullet-title,
.notify-bullet-description,
.notify-bullet .icon {
  margin: 0.5em;
}

.notify-bullet-title {
  font-weight: normal;
  text-align: center;
}

.notify-bullet .icon {
  background-color: var(--main-color);
  padding: 1em;
  border-radius: 50%;
  height: 2.5em;
}

.notify-bullet-description {
  text-align: center;
  color: var(--secondary-text-color);
}

.notify-notifications {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-offer {
  padding: 2em;
  max-width: 25em;
}

.notification-offer h2 {
  margin-top: 0;
}

.notification-offer-text {
  color: var(--secondary-text-color);
  display: block;
}

.email-input {
  margin-top: 1.5em;
  display: flex;
  --input-height: 35px;
}

.email-input input{
  padding: 0.5em;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--secondary-text-color);
  border-right: none;
  font-size: 1em;
  padding: 0.5em 1em;
  outline: none;
  height: var(--input-height);
  box-sizing: border-box;
}

.email-input button{
  background-color: var(--main-color);
  color: white;
  border-radius: 0 8px 8px 0;
  font-size: 1.2em;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  outline: none;
  height: var(--input-height);
  box-sizing: border-box;
}

.notifications-image {
  margin: 1em 2em;
  border-radius: 1em;
  width: 100%;
  max-width: 25em;
}

.notify-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notify-contact span {
  color: var(--secondary-text-color);
  padding: 1em;
  display: block;
  text-align: center;
}

.contact-description-quote {
  font-style: italic;
  max-width: 50em;
}

.contacts-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.contacts-list img{
  width: 3em;
  margin: 0.1em;
}

.notify-contact h2 {
  margin-bottom: 0;
}

.notify-contact .contact-description-quote-author {
  color: black;
  padding-top: 0;
}

.social-media-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-left: 0;
}

.social-media-icon {
  padding: 0.5em;
  background-color: var(--secondary-background-color);
  margin: 0.5em;
  width: 1.5em;
  border-radius: 50%;
}

.social-media-icon:hover {
  background-color: var(--main-color);
}

footer {
  background-color: var(--secondary-background-color);
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

footer li {
  padding: 0.5em;
}

footer a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .no-mobile {
    display: block;
  }

  .notify-introduction-container {
    height: 25em;
    justify-content: center;
  }
  
  .notify-introduction {
    max-width: 20em;
  }
  
  .hand-phone-pic {
    align-self: flex-end;
    height: 20em;
  }
  
  .notify-bullets-container {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .notify-bullet {
    padding: 2em;
    margin: 0;
    width: 16em;
  }

  .notify-notifications {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .notification-offer {
    max-width: 25em;
  }

  .contacts-list {
    flex-wrap: nowrap;
    max-width: 80%;
    overflow-x: scroll;
  }

  .contacts-list::before {
    display: block;
    content: '';
    width: 3em;
    height: 3em;
    background-image: linear-gradient(to right, white 100%, transparent 0%);
  }

  .contacts-list::after {
    display: block;
    content: '';
    width: 3em;
    height: 3em;
    background-image: linear-gradient(to left, white 100%, transparent 0%);
  }

  footer ul {
    flex-direction: row;
    justify-content: center;;
  }

  footer a {
    padding: 0 1em;
  }

  footer.section {
    padding: 2em;
  }
}
