body,
html {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  --main-color: hsl(145, 64%, 49%);
  --secondary-text-color: hsl(0, 0%, 60%);
}

.notify-introduction {
  background: url('assets/header-background.png');
  color: white;
  padding: 1.5em 2.5em;
}

.notify-logo {
  display: block;
  width: 8em;
}

.notify-introduction span {
  display: block;
  margin: 0.5em 0 1em;
}

.external-download-button {
  border-radius: 50%;
  background-color: hsla(0, 0%, 35%, 0.753);
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.5em 0 0;
}

.external-download-button img {
  filter: invert();
  height: 2em;
}

.external-download-button:hover {
  background-color: var(--main-color);
}

.notify-bullets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notify-bullet {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notify-bullet-title,
.notify-bullet-description,
.notify-bullet .icon {
  margin: 0.5em;
}

.notify-bullet .icon {
  background-color: var(--main-color);
  padding: 1em;
  border-radius: 50%;
  height: 2em;
}

.notify-bullet-description {
  font-size: 0.8em;
  text-align: center;
  color: var(--secondary-text-color);
}

.notify-notifications {
  background-color: hsl(0, 0%, 89%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-offer {
  padding: 2em;
}

.notification-offer-text {
  color: var(--secondary-text-color);
}

.email-input {
  margin-top: 1.5em;
}

.email-input input{
  padding: 0.5em;
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid var(--secondary-text-color);
  font-size: 1em;
  padding: 0.5em 1em;
  outline: none;
}

.email-input button{
  background-color: var(--main-color);
  color: white;
  margin-left: -1em;
  border-radius: 0 0.5em 0.5em 0;
  font-size: 1em;
  padding: 0.55em 1em;
  border: none;
  cursor: pointer;
  outline: none;
}

.notify-video {
  padding: 2em 1em;
}
